src/BirdMessenger/obj
src/BirdMessenger/bin
src/BirdMessenger.Test/obj
src/BirdMessenger.Test/bin
src/BirdMessenger.Test/TestFile
samples/.idea
samples/demo/.idea
samples/demo/demo/bin
samples/demo/demo/obj
samples/demo/demo/test.dmg
samples/demo/demoByNuget
samples/testSite/node_modules
samples/testSite/files/*
samples/testDotNetSite/tusfiles
/.vscode/*
/.vs/BirdMessenger
.idea/.idea.BirdMessenger/.idea/workspace.xml
/samples/testDotNetSite/obj/
/.idea/
/samples/testDotNetSite/bin/
/src/BirdMessenger/bin/
/src/BirdMessenger.BenchMark/bin/
/src/BirdMessenger.BenchMark/obj/
/src/BirdMessenger.BenchMark/TestFile
.DS_Store